@font-face {
  font-family: holye;
  src: url('./assets/Hoyle.ttf');
}
@font-face{
  font-family: digital;
  src: url('./assets/Digital-7.ttf')
}
*{
    box-sizing: border-box;
}

:root{
 --size:7.5rem;
 --controler-size:3;
 --box-size:1.5
}

body {
    background-color: grey;
}
main{
  display:flex;
  justify-content: center;
}

.simon-container{
    background-image: url('./assets/plastic.png');
    width: calc(var(--size)*6);
    height: calc(var(--size)*6);
    border-radius: 50%;
    position: relative;
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
      inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
      inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
      hsla(0,0%, 0%,.15) 0 -5px 6px 4px; /* outer SD */
    transition: color .2s;

}

.metal {
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
      inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
      inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
      inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
      hsla(0,0%, 0%,.15) 0 -5px 6px 4px; /* outer SD */
    transition: color .2s;
  }
  .radial.metal {
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
      -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
      -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
      -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
      -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
      -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
      -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
      -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
  }
 
  .metal.radial:before, .metal.radial:after {
    /* fake conical gradients */
    background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
      -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
      -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
      -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
  }
  .metal.radial:before { transform: rotate( 65deg); }
  .metal.radial:after { transform: rotate(-65deg); }

.simon-control-container{
    width: calc(var(--size)*var(--controler-size));
    height: calc(var(--size)*var(--controler-size));
    border-radius: 50%;
    position:absolute;
    top: calc(50% - ((var(--size)*var(--controler-size)) / 2));
    left: calc(50% - ((var(--size)*var(--controler-size)) / 2));
    z-index: 1;
    border: 5px solid black;
}

.game-name{
  font-size: 3rem;
  text-align: center;
  font-family: holye;
  user-select: none;
  height: 8rem;
}

#display{
  background-color: black;
  color:red;
  font-size: calc(var(--size)/4.5);
  font-family: digital;
  user-select: none;
  width: 15rem;
  box-shadow: inset rgb(66, 66, 66) 0  0px 0px 4px, /* border */
  inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
  inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
  hsla(0,0%, 0%,.15) 0 -5px 6px 4px; /* outer SD */
  transition: color .2s;
  border-radius: 5px;
  padding: 0.5rem;
}
#start{
  border-radius: 50%;
  width: calc(var(--size)/4);
  height: calc(var(--size)/4);
  background-color: darkred;
}

.box{
    width: calc(var(--size)*var(--box-size)*1.6);
    height: calc(var(--size)*var(--box-size)*1.6);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px; /* outer SD */
    transition: color .2s;
    position:absolute;
}

#box1{
    border-radius: 75% 10% 0% 10%;
    top:10%;
    right: 50%;
}

#box2{
    border-radius: 10% 0% 10% 75%;
    bottom: 10%;
    right: 50%;
}

#box3{
    border-radius: 10% 75% 10% 0%;
    left: 50%;
    top: 10%;
}

#box4{
    border-radius: 0% 10% 75% 10%;
    bottom: 10%;
    left: 50%;
}

.pressed{
  border:10px solid black;
}

.yellow {
  background-color: yellow;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}

.yellow.active {
  filter: drop-shadow(31px 14px 70px yellow);
  background-color: rgb(255, 250, 99);
}

.active.red{
  background-color: rgb(255, 50, 50);
  filter: drop-shadow(31px 14px 70px red);
}

.active.blue{
  background-color: rgb(68, 68, 253);
  filter: drop-shadow(31px 14px 70px blue);
}

.active.green{
  background-color: greenyellow;
  filter: drop-shadow(31px 14px 70px #3aed087b);
}

.simon-control-container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4fr 1.1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "display"
    "buttons";
}

.title {
   grid-area: title; 
  margin-top: 3rem;
  height: 6rem;
  }

.display {
  grid-area: display;
  margin-left: auto;
  margin-right: auto;
  
  
}

.buttons {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "on start reset";
  grid-area: buttons;
  margin-bottom: 5rem;
}

.on {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "onText"
    "onButton";
  grid-area: on;
  margin-left: auto;
  margin-right: auto;
}

.onText {
  grid-area: onText;
  margin-left: auto;
  margin-right: auto;

}

.onButton {
  margin-left: auto;
  margin-right: auto;
  grid-area: onButton;
}

.start {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "startText"
    "startButton";
  grid-area: start;
  margin-left: auto;
  margin-right: auto;
}

.startText {
  margin-left: auto;
  margin-right: auto;
  grid-area: startText;
}

.startButton {
  margin-left: auto;
  margin-right: auto;
  grid-area: startButton;
}

.reset {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "resetText"
    "resetButton";
  grid-area: reset;
  margin-left: auto;
  margin-right: auto;
}

.resetText {
  grid-area: resetText;
  margin-left: auto;
  margin-right: auto;
}

.resetButton {
  grid-area: resetButton;
  margin-left: auto;
  margin-right: auto;
}

